.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  transition: background-color .3s;

  .navbar-collapse {
    flex-grow: 0;
  }
  
  .navbar-brand img {
    width: 40px;
  }

  .navbar-nav .active a.nav-link {
    font-weight: bold;
  }

  .navbar-nav a.nav-link, .navbar-nav .active a.nav-link {
    color: white;

    &:hover {
      color: rgba(0, 0, 0, 0.3)
    }
  }
}

.navbar-lewagon-white {
  background-color: white;

  .navbar-nav a.nav-link, .navbar-nav .active a.nav-link {
    color: black;

    &:hover {
      color: rgba(0, 0, 0, 0.8)
    }
  }
}